<!-- Content -->
<br><br>
<div class="container">
  <!--Grid row-->
  <%= render "shared/errors" %>
  <%= render "shared/model_errors", model: @test_result %>

  <div class="row">
    <!--Grid column-->
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
      <!-- News jumbotron -->
      <div class="jumbotron hoverable p-4">
        <div class="text-center"><a href="<%= root_path %>" class="text-black-50"><i class="fas fa-home"></i></a></div>
        <h1 class="text-center">Test Result Details</h1>

        <%= form_with(model: @test_result, url: test_results_path, class: 'mx-lg-5', local: true) do |f|%>
          <div class="md-form">
            <%= f.email_field :email, class: 'form-control', required: true %>
            <%= f.label :email %>
            <small id="email-error" class="form-text text-muted"></small>
          </div>

          <div class="md-form">
            <%= f.text_field :full_name, class: 'form-control', required: true %>
            <%= f.label :full_name, "Full Name" %>
          </div>

          <div class="md-form">
            <%= f.number_field :age, class: 'form-control', min: '1', required: true %>
            <%= f.label :age %>
          </div>
          
          <div class="md-form">
            <%= f.text_field :address, class: 'form-control', required: true %>
            <%= f.label :address %>
          </div>

          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-sm-12 col-md-6">
              <!-- Material input -->
              <div class="md-form mt-0">
                <%= f.text_field :post_code, class: 'form-control', required: true %>
                <%= f.label :post_code, "Post Code" %>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-sm-12 col-md-6">
              <!-- Material input -->
              <div class="md-form mt-0">
                <input type="text" id="ttn_code" name="ttn_code" class="form-control" required autocomplete="off">
                <label for="ttn_code">TTN Code</label>
                <small id="ttn-code-error" class="form-text text-muted"></small>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->

          <div class="mb-3">
            <div> Select your gender </div>
            <label class="mr-4">
              <%= f.radio_button :gender, :male, class: 'option-input radio', required: true %>
              Male
            </label>
            <label class="mr-4">
              <%= f.radio_button :gender, :female, class: 'option-input radio', required: true %>
              Female
            </label>
            <label class="mr-4">
              <%= f.radio_button :gender, :other, class: 'option-input radio', required: true %>
              Other
            </label>
          </div>

          <div class="mb-3">
            <div> What is your test result? </div>
            <label class="mr-4">
              <%= f.radio_button :test_result, :positive, class: 'option-input radio', required: true %>
              Positive
            </label>
            <label class="mr-4">
              <%= f.radio_button :test_result, :negative, class: 'option-input radio', required: true %>
              Nagative
            </label>
            <label class="mr-4">
              <%= f.radio_button :test_result, :inconclusive, class: 'option-input radio', required: true %>
              Inconclusive
            </label>
          </div>

          <div class="text-center">
            <%= f.submit "Send Test Result", class: 'btn btn-primary'%>
          </div>
        <% end %>
        
      </div>
      <!-- News jumbotron -->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
<!-- Content -->

<script>
  $( document ).ready(function() {
    
    $('.field_with_errors label').addClass('active')

    $('#ttn_code').on('keyup', function () {
      var ttn_code = $('#ttn_code').val();
      if (!ttn_code){
        $("#ttn-code-error").text("");
        $('#ttn_code')[0].setCustomValidity("Please fill out this field.");
      }
      else{
        $.ajax({
          type: "get",
          url: "/test_results/validate_ttncode",
          data: { ttn_code: ttn_code },
          success: function(response) {
            if (response.valid){
              $("#ttn-code-error").addClass("text-success").removeClass("text-danger").text(response.message);
              $('#ttn_code')[0].setCustomValidity("");
            }
            else{
              $("#ttn-code-error").removeClass("text-success").addClass("text-danger").text(response.message);
              $('#ttn_code')[0].setCustomValidity("Enter a valid TTN Code");
            }
          }
        });
      }
    });

    $('#test_result_email').on('keyup', function () {
      var email = $('#test_result_email').val();
      if (!email){
        $("#email-error").text("");
        $('#test_result_email')[0].setCustomValidity("Please fill out this field.");
      }
      else{
        $.ajax({
          type: "get",
          url: "/test_results/validate_email",
          data: { email: email },
          success: function(response) {
            if (response.valid){
              $("#email-error").addClass("text-success").removeClass("text-danger").text('');
              $('#test_result_email')[0].setCustomValidity("");
            }
            else{
              $("#email-error").removeClass("text-success").addClass("text-danger").text(response.message);
              $('#test_result_email')[0].setCustomValidity("Enter an valid email");
            }
          }
        });
      }
    });

  });
</script>
